body {
  background-size: cover;
  background-image: url("images/sky.jpeg");
  background-position: center center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.App {
  height: 100vh;
  padding: 100px 50px;
  max-width: 767px;
  margin: 0px auto;
}

.App footer {
  font-size: 12px;
  margin: 15px 0;
}